<!-- gallery.component.html -->
<div class="text-start p-8">
  <h2 class="font-bold text-center sm:text-4xl md:text-4xl lg:text-5xl mb-12">
   {{galleryItems[0].title}}
  </h2>
  <div
    class="container mx-auto flex md:flex-col lg:flex-row md:w-full flex-wrap"
  >
    <ng-container *ngFor="let item of galleryItems.slice(1); let i = index">
      <div class="w-full xl:w-1/2 px-4 mb-8">
        <div class="flex flex-col items-start justify-start md:flex-row">
          <div class="w-full xl:w-1/2 px-2 mb-4 flex justify-center h-60">
            <img
              [src]="item.imageSrc"
              [alt]="item.altText"
              class="rounded-lg shadow-lg border border-gray-300"
            />
          </div>
          <div class="w-full xl:w-1/2 px-2 text-center md:text-left  rtl:md:text-right">
            <h3 class="font-bold text-xl sm:text-2xl">{{ item.title }}</h3>
            <p class="text-base sm:text-lg mt-2">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
