<div class="document-item border p-4 rounded shadow-lg">
    <h2 class="font-bold text-xl">{{ document.title }}</h2>
    <p class="text-secondary-600 mt-2">{{ document.publishedOn }}</p>
    <p class="text-secondary-800 mt-4">{{ document.description }}</p>
    
    <!-- Document Image -->
    <img [src]="document.imageUrl" alt="Document Image" class="w-full h-auto mt-4 mb-4 rounded">
    
    <a [href]="document.downloadLink" class="bg-blue-500 text-white mt-4 p-2 rounded">
     {{ document.buttonText }}
    </a>
</div>
