<div class="flex flex-col">
  <div class="bg-secondary-100 py-8">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold text-secondary-800 mb-2">{{ product.header.title }}</h1>
      <p class="text-secondary-600">{{ product.header.date }}</p>
    </div>
  </div>
  <div class="bg-white py-8">
    <div class="container mx-auto px-4 flex flex-col md:flex-row">
      <div class="w-full md:w-3/4 px-4">
        <img
          [src]="product.mainContent.featuredImage"
          alt="Blog Featured Image"
          class="mb-8"
        />
        <div class="prose max-w-none">
          <p *ngFor="let paragraph of product.mainContent.paragraphs">{{ paragraph }}</p>
        </div>
      </div>
      <div class="w-full md:w-1/4 px-4">
        <div class="bg-primary-500 p-6 text-white rounded-lg shadow-lg mb-6">
          <h2 class="text-xl font-bold mb-4">{{ product.sidebar.sections[0].title }}</h2>
          <p class="mb-4">{{ product.sidebar.sections[0].description }}</p>
          <a
            [href]="product.sidebar.sections[0].button.link"
            class="inline-block bg-white text-primary-500 font-semibold py-2 px-4 rounded-md hover:bg-secondary-100"
            >{{ product.sidebar.sections[0].button.text }}</a
          >
        </div>
        <div class="bg-primary-500 p-6 text-white rounded-lg shadow-lg">
          <h2 class="text-xl font-bold mb-4">{{ product.sidebar.sections[1].title }}</h2>
          <ul class="list-disc list-inside mb-4">
            <li *ngFor="let item of product.sidebar.sections[1].listItems" class="mb-2">{{ item }}</li>
          </ul>
          <a
            [href]="product.sidebar.sections[1].button.link"
            class="inline-block bg-white text-primary-500 font-semibold py-2 px-4 rounded-md hover:bg-secondary-100"
            >{{ product.sidebar.sections[1].button.text }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
