<!-- home.component.html -->
<div class="container max-w-screen-xl mx-auto px-4">
  <div class="flex flex-col lg:flex-row justify-between space-x-20">
    <div class="text-center lg:text-left mt-40">
      <h1
        class="font-semibold text-secondary-900 text-3xl md:text-6xl leading-normal mb-6"
      >
        {{ translation.heading }}
      </h1>

      <p
        class="font-light text-secondary-400 text-md md:text-lg leading-normal mb-12"
      >
        {{ translation.subheading }}
      </p>

      <button
        class="px-6 py-4 bg-info font-semibold text-white text-lg rounded-xl bg-primary-700 transition ease-in-out duration-500"
      >
        {{ translation.buttonText }}
      </button>
    </div>

    <div class="mt-24">
      <img [src]="translation.imageSrc" alt="Image" />
    </div>
  </div>
</div>
<!-- container.// -->
