<!-- Start clients section -->
<div id="clients" class="section relative py-8 bg-white dark:bg-gray-800">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <div class="flex items-center flex-wrap justify-center space-x-4">
      <!-- Client logos -->
      <div class="px-4 text-center pb-3">
        <a href="#" target="_blank">
          <img
            class="grayscale mx-auto opacity-80 hover:opacity-100 h-auto max-w-[150px]"
            src="/assets/image/img1.png"
            alt="Image 1 Description"
          />
        </a>
      </div>
      <div class="px-4 text-center pb-3">
        <a href="#" target="_blank">
          <img
            class="grayscale mx-auto opacity-80 hover:opacity-100 h-auto max-w-[150px]"
            src="/assets/image/img2.png"
            alt="Image 2 Description"
          />
        </a>
      </div>
      <div class="px-4 text-center pb-3">
        <a href="#" target="_blank">
          <img
            class="grayscale mx-auto opacity-80 hover:opacity-100 h-auto max-w-[150px]"
            src="/assets/image/img3.png"
            alt="Image 3 Description"
          />
        </a>
      </div>
      <div class="px-4 text-center pb-3">
        <a href="#" target="_blank">
          <img
            class="grayscale mx-auto opacity-80 hover:opacity-100 h-auto max-w-[150px]"
            src="/assets/image/img4.png"
            alt="Image 4 Description"
          />
        </a>
      </div>
      <div class="px-4 text-center pb-3">
        <a href="#" target="_blank">
          <img
            class="grayscale mx-auto opacity-80 hover:opacity-100 h-auto max-w-[150px]"
            src="/assets/image/img5.png"
            alt="Image 5 Description"
          />
        </a>
      </div>
      <div class="px-4 text-center pb-3">
        <a href="#" target="_blank">
          <img
            class="grayscale mx-auto opacity-80 hover:opacity-100 h-auto max-w-[150px]"
            src="/assets/image/img6.png"
            alt="Image 6 Description"
          />
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End brand section -->
