<div class="text-center mb-12">
  <h2 class="text-3xl font-semibold mb-4">{{ sectionTwo.title }}</h2>
  <p class="text-secondary-700 mb-8">{{ sectionTwo.description }}</p>
  <div class="flex flex-wrap justify-center">
    @for( year of sectionTwo.years; track $index){
    
        <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
          <div class="bg-white p-6 rounded-lg shadow-lg text-center">
            <h3 class="text-xl font-semibold mb-2">{{ year.year }}</h3>
            <p class="text-secondary-600">{{ year.description }}</p>
          </div>
        </div>
     
    }
  
  </div>
</div>
