<!-- contact start -->
<div id="contact" class="section relative pb-20 bg-white dark:bg-secondary-800  pt-10">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <div class="flex flex-wrap flex-row -mx-4 justify-center">
      <div class="max-w-full px-4 w-full lg:w-8/12">
        <div class="bg-secondary-50 border-b border-secondary-100 w-full p-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
          <!-- section header -->
          <header class="text-center mx-auto mb-12 lg:px-20">
            <h2 class="text-2xl leading-normal mb-2 font-bold text-secondary-800 dark:text-secondary-100">
              <span class="font-light">{{ contactUs.title.split(' ')[0] }}</span> {{ contactUs.title.split(' ')[1] }}
            </h2>
            <svg [attr.version]="1.1" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="contactUs.svgIcon.viewBox" style="margin: 0 auto;height: 35px;">
              <circle [attr.cx]="contactUs.svgIcon.circle.cx" [attr.cy]="contactUs.svgIcon.circle.cy" [attr.r]="contactUs.svgIcon.circle.r" [attr.class]="contactUs.svgIcon.circle.class" [attr.style]="contactUs.svgIcon.circle.style"></circle>
              <line *ngFor="let line of contactUs.svgIcon.lines" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" [attr.class]="line.class" [attr.style]="line.style"></line>
            </svg>
            <p class="text-secondary-600 leading-relaxed font-light text-xl mx-auto pb-2">{{ contactUs.headerText }}</p>
          </header><!-- end section header -->

          <!-- contact form -->
          <form action="#">
            <div class="flex flex-wrap flex-row -mx-4">
              <div class="flex-shrink w-full max-w-full md:w-1/2 px-4 mb-6">
                <label class="inline-block mb-2" [for]="'name'">{{ contactUs.formLabels.name }}</label>
                <input type="text" name="name" class="w-full leading-5 relative py-3 px-5 rounded text-secondary-800 bg-white border-b border-secondary-100 overflow-x-auto focus:outline-none focus:border-secondary-400 focus:ring-0 dark:text-secondary-400 dark:bg-secondary-700 dark:border-secondary-700 dark:focus:border-secondary-600" id="name">
                <div class="validate"></div>
              </div>
              <div class="flex-shrink w-full max-w-full md:w-1/2 px-4 mb-6">
                <label class="inline-block mb-2" [for]="'email'">{{ contactUs.formLabels.email }}</label>
                <input type="email" class="w-full leading-5 relative py-3 px-5 rounded text-secondary-800 bg-white border-b border-secondary-100 overflow-x-auto focus:outline-none focus:border-secondary-400 focus:ring-0 dark:text-secondary-400 dark:bg-secondary-700 dark:border-secondary-700 dark:focus:border-secondary-600" name="email" id="email">
                <div class="validate"></div>
              </div>
            </div>
            <div class="mb-6">
              <label class="inline-block mb-2" [for]="'subject'">{{ contactUs.formLabels.subject }}</label>
              <input type="text" class="w-full leading-5 relative py-3 px-5 rounded text-secondary-800 bg-white border-b border-secondary-100 overflow-x-auto focus:outline-none focus:border-secondary-400 focus:ring-0 dark:text-secondary-400 dark:bg-secondary-700 dark:border-secondary-700 dark:focus:border-secondary-600" name="subject" id="subject">
              <div class="validate"></div>
            </div>
            <div class="mb-6">
              <label class="inline-block mb-2" [for]="'messages'">{{ contactUs.formLabels.message }}</label>
              <textarea class="w-full leading-5 relative py-3 px-5 rounded text-secondary-800 bg-white border-b border-secondary-100 overflow-x-auto focus:outline-none focus:border-secondary-400 focus:ring-0 dark:text-secondary-400 dark:bg-secondary-700 dark:border-secondary-700 dark:focus:border-secondary-600" name="message" rows="10" id="messages"></textarea>
              <div class="validate"></div>
            </div>
            <div class="text-center mb-6">
              <a class="py-2.5 px-10 inline-block text-center leading-normal text-secondary-100 bg-black border border-black hover:text-white hover:ring-0 focus:outline-none focus:ring-0" href="#project">
                <svg [attr.xmlns]="contactUs.buttonIcon.xmlns" [attr.width]="contactUs.buttonIcon.width" [attr.height]="contactUs.buttonIcon.height" [attr.viewBox]="contactUs.buttonIcon.viewBox" class="inline-block mr-1" fill="currentColor">
                  <rect [attr.x]="contactUs.buttonIcon.rect.x" [attr.y]="contactUs.buttonIcon.rect.y" [attr.width]="contactUs.buttonIcon.rect.width" [attr.height]="contactUs.buttonIcon.rect.height" [attr.rx]="contactUs.buttonIcon.rect.rx" [attr.ry]="contactUs.buttonIcon.rect.ry" [attr.style]="contactUs.buttonIcon.rect.style"></rect>
                  <polyline [attr.points]="contactUs.buttonIcon.polyline.points" [attr.style]="contactUs.buttonIcon.polyline.style"></polyline>
                </svg>
                {{ contactUs.buttonText }}
              </a>
            </div>
          </form><!-- end contact form -->
        </div>
      </div>
    </div>
  </div>
</div><!-- End contact -->
