<div class="max-w-screen-xl mx-auto p-5 sm:p-8 md:p-12 relative">
  <div class="bg-cover h-64 text-center overflow-hidden"
       [ngStyle]="{'background-image': 'url(' + product.backgroundImage + ')', 'height': '450px'}">
  </div>
  <div class="max-w-2xl mx-auto">
    <div class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
      <div>
        <a *ngFor="let category of product.categories" [href]="category.link" class="text-xs text-primary-600 uppercase font-medium hover:text-secondary-900 transition duration-500 ease-in-out">{{ category.text }}</a>
        <h1 class="text-secondary-900 font-bold text-3xl mb-2">{{ product.title }}</h1>
        <p class="text-secondary-700 text-xs mt-2">Written By:
          <a [href]="product.author.link" class="text-primary-600 font-medium hover:text-secondary-900 transition duration-500 ease-in-out">{{ product.author.name }}</a>
        </p>
        <p class="text-base leading-8 my-5">{{ product.content.introduction }}</p>
        <div *ngFor="let section of product.content.sections">
          <h3 *ngIf="section.heading" class="text-2xl font-bold my-5">{{ section.heading }}</h3>
          <p *ngIf="section.text" class="text-base leading-8 my-5">{{ section.text }}</p>
          <blockquote *ngIf="section.type === 'blockquote'" class="border-l-4 text-base italic leading-8 my-5 p-5 text-primary-600">{{ section.text }}</blockquote>
        </div>
        <div class="mt-5">
          <a *ngFor="let tag of product.tags" [href]="tag.link" class="text-xs text-primary-600 font-medium hover:text-secondary-900 transition duration-500 ease-in-out">{{ tag.text }}</a>
        </div>
        <div class="bg-secondary-100 p-5 mt-8 rounded-lg text-center">
          <h2 class="text-xl font-bold text-secondary-900 mb-3">{{ product.callToAction.heading }}</h2>
          <p class="text-base leading-7 mb-5">{{ product.callToAction.description }}</p>
          <a [href]="product.callToAction.button.link" [ngClass]="product.callToAction.button.class">{{ product.callToAction.button.text }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
