<section class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h6 class="text-lg text-indigo-600 font-medium text-center mb-2">{{faqContent.sectionTitle}}</h6>
      <h2
        class="text-4xl font-manrope text-center font-bold text-gray-900 leading-[3.25rem]"
      >
       {{faqContent.afterTitle}}
      </h2>
    </div>

    <div class="accordion-group" data-accordion="default-accordion">
     @for( faq of faqContent.questions; track $index){
      <app-faq-content [accordionContent]="faq"></app-faq-content>
     }
    </div>
  </div>
</section>
