<section class="bg-white py-16 md:mt-10">
  <div class="container max-w-screen-xl mx-auto px-4">
    <p class="font-light text-secondary-500 text-lg md:text-xl text-center uppercase mb-6">
      {{ featuresOne.subheading }}
    </p>

    <h1 class="font-semibold text-secondary-900 text-xl md:text-4xl text-center leading-normal mb-10">
      {{ featuresOne.heading }}
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20">
      @for ( feature of featuresOne.features; track $index ){
        <div  class="text-center">
       
          <div class="flex justify-center mb-6">
            <div class="w-20 py-6 flex justify-center bg-primary-200 bg-opacity-30 text-primary-700 rounded-xl">
              <i [class]="feature.iconClass"></i>
            </div>
          </div>
    
          <h4 class="font-semibold text-lg md:text-2xl text-secondary-900 mb-6">
            {{ feature.title }}
          </h4>
    
          <p class="font-light text-secondary-500 text-md md:text-xl mb-6">
            {{ feature.description }}
          </p>
    
          <div class="flex justify-center">
            <a [href]="feature.link"
               class="flex items-center gap-5 px-6 py-4 font-semibold text-info text-lg rounded-xl hover:bg-info hover:text-white transition ease-linear duration-500">
              {{ feature.learnMoreText }} <!-- Use the learnMoreText property -->
              <i data-feather="chevron-right"></i>
            </a>
          </div>
        </div>
      }
    
    </div>
  </div>
</section>
