<section class="bg-white py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1
      class="font-semibold text-gray-900 text-xl md:text-4xl text-center mb-16"
    >
       {{donationCards[0].title}}
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8 justify-center mx-auto">
      @for(card of donationCards.slice(1); track $index){
      <app-donation-card-one [card]="card"> </app-donation-card-one>
      }
      
    </div>
  </div>
  <div class="flex items-center justify-center"></div>
</section>
