<article id="the-article">
  <div>
    <div class="mx-auto max-w-6xl">
      <div class="p-2 rounded">
        <div class="flex flex-col md:flex-row">
          <div class="md:w-1/3 p-4 text-sm">
            <div class="sticky inset-x-0 top-0 left-0 py-12">
              <div class="text-3xl text-primary-400 mb-8">
                Frequently asked questions.
              </div>
              <div class="mb-2">Lorem Ipsum ?</div>
              <div class="text-xs text-secondary-600">
                See our FAQ for more details
              </div>
            </div>
          </div>
          <div class="md:w-2/3 py-12">
            @for( faq of faqs.slice(1); track $index) {
              <div class="p-4">
                <app-faq-content [faqs]="faq"></app-faq-content>
              </div>
            }
         
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
